.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 3% 5px;
    background-color: rgba(10, 25, 47, 0.8); /* little opaque */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: transform 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: #64ffda;
    text-decoration: none;
}

.logo svg {
    width: 40px;
    height: 40;
    fill: #0a192f;
    background-color: #0a192f;
    transition: all 0.3s ease; /* Smooth hover effect */

}

.logo svg:hover {
    background-color: #0a192f;
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.header.hide {
    transform: translateY(-100%);
}

.header.shadow {
    box-shadow: 0 4px 6px rgba(0,0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar a{
    font-family: "Kanit", serif;
    
    position: relative;
    font-size: 14px;
    color: #a8b2d1;
    font-weight: 500;
    margin-left: 50px;
    transition: all 0.3s ease;
    
}

.navbar a:hover {
    color: #64ffda;
}

#resume {
    display: inline-block; /* Ensures it behaves like a button */
    color: #64ffda; /* Button text color */
    font-family: 'Kanit', serif;
    font-size: 14px; /* Font size */
    font-weight: 500; /* Slightly bold text */
    letter-spacing: 1px;
    text-decoration: none; /* Remove underline */
    padding: 8px 20px; /* Padding for the button feel */
    border: 1px solid #64ffda; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Show pointer on hover */
    transition: all 0.3s ease; /* Smooth hover effect */

}

#resume:hover {
    background-color: #64ffda; /* Highlight background on hover */
    color: #0a192f; /* Change text color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0px 4px 15px rgba(100, 255, 218, 0.4); /* Glow effect */
}
